body {
    background-color: #BAB1AD;
    color: #5E5D55;
    text-align: center;
}

.img1,
.img2 {
    cursor: pointer;
    width: 200px;
    height: 100px;
}

.darken {
    filter: brightness(80%);
}

.text {
    font-size: 15px;
    padding: 11px;
}

.back {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    /* Increased the margin between the button and the column */
}

.audioman {
    display: none;
}