body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: MyCustomFont; /* Name of the font */
    src: url('images/Minecraft.ttf') format('truetype'); /* URL to your TTF file */
}

.custom-font {
    font-family: 'MyCustomFont', sans-serif; /* Use the font specified in the @font-face rule */
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.darken {
    filter: brightness(90%);
}

.buttonOff {
    display: flex;
    cursor: pointer;
}

.counter {
    position: absolute;
    text-align: center;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 40px;
    top: 15%;
}