body {
    background-color: black;
}
.dogdiv {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 50vh;
}
.dog {
    display: flex;
    width: 100px;
    height: auto;
}