body {
    background-color: black;
    overflow: hidden;
}

.audioman {
    display: none;
}

.dogdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height of container to full viewport height */
    position: relative; /* Position relative for absolute positioning of child elements */
}

.dog {
    width: 130px;
    height: auto;
    position: absolute; /* Position absolute for centering */
    top: 50%; /* Move 50% from top */
    transform: translateY(-50%); /* Center vertically */
}

.sorrysorry {
    width: 700px;
    height: auto;
    position: absolute; /* Position absolute for centering */
    top: 10%; /* 10% from top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

.carecare {
    width: 700px;
    height: auto;
    position: absolute; /* Position absolute for centering */
    bottom: 10%; /* 10% from bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

@media screen and (max-width: 768px) {
    .dog {
        width: 70px; /* Adjust width for smaller screens */
    }

    .sorrysorry, .carecare {
        width: 600px; /* Adjust width for smaller screens */
    }
}

@media screen and (max-width: 576px) {
    .dog {
        width: 120px; /* Adjust width for even smaller screens */
    }

    .sorrysorry, .carecare {
        width: 400px; /* Adjust width for even smaller screens */
    }
}