body {
    cursor: default;
    display: flex;
    background-image: url('Audio/pixil-gif-drawing\ \(2\).gif'); /* Add the path to your GIF */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center;
    margin: 0;
}

.audioman {
    display: none;
}

.main-left-align,
.main-right-align {
    position: absolute; /* Set both to absolute positioning */
    top: 50%; /* Adjust the top position as needed */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-left-align {
    cursor: pointer;
    left: 0; /* Align to the left */
    align-items: flex-start;
}

.main-right-align {
    cursor: pointer;
    right: 0; /* Align to the right */
    align-items: flex-end;
}

.darken {
    filter: brightness(80%);
}

#responsiveImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: width 0.5s ease, height 0.5s ease; /* Add a smooth transition effect */
}

@media (max-width: 800px) {
    #responsiveImage {
        width: 80%;
        max-width: 80%;
        height: auto;
        left: 80px;
        position: fixed;
    }
}

@media (max-width: 700px) {
    #responsiveImage {
        width: 70%;
        max-width: 70%;
        height: auto;
        left: 70px;
        position: fixed;
    }
}

@media (max-width: 600px) {
    #responsiveImage {
        width: 60%;
        height: auto;
        left: 60px;
        position: fixed;
    }
}

@media (max-width: 500px) {
    #responsiveImage {
        max-width: 70%;
        height: auto;
        left: 50px;
        position: fixed;
    }
}


@media (max-width: 400px), (max-height: 300px) {
    #responsiveImage {
        width: 30%;
        height: auto;
    }
}

.main-left-align, .main-right-align {
    float: left;
    width: 33.33%;
    height: 33.33%;
    box-sizing: border-box;
}

/* Apply responsive styles to images within .main-left-align */
.main-left-align img, .main-right-align img {
    width: 10%;
    height: 10%;
    max-width: 100%;
    max-height: 100px;
    transition: width 0.5s ease, height 0.5s ease; /* Add a smooth transition effect for both width and height */
}

.secret {
    opacity: 90%;
    height: 50px;
    width: 50px;
    position: absolute;
    justify-content: flex-end;
    display: flex;
    top: 0;
    right: 0;
    cursor: pointer;
    filter: brightness(60%);
}

.thankslink {
    max-height: 15%;
    max-width: 15%;
    opacity: 100%;
    height: auto;
    width: auto;
    position: absolute;
    justify-content: flex-end;
    display: flex;
    bottom: 75%;
    left: 100;
    cursor: pointer;
    transition: width 0.5s ease, height 0.5s ease;
}

@media (max-height: 1000px) {
    #special {
        max-width: 25%;
        bottom:  85%;
    }
}

@media (max-height:500px) {
    #special {
        width: 20%;
        max-width: 25%;
        bottom: 70;
    }
}

@media (max-height:400px) {
    #special {
        width: 20%;
        max-width: 25%;
        bottom: 80%;
    }
}

@media (max-height:300px) {
    #special {
        width: 20%;
        max-width: 25%;
        bottom: 70%;
    }
}

@media (max-height:200px) {
    #special {
        width: 15%;
        max-width: 20%;
        bottom: 70%;
    }
}

@media (max-width:10000px) {
    #special {
        top: 20%;
    }
}

@media (max-height:500px) {
    #main-left-align, #main-right-align {
        width: 20%;
        height: 20%
    }
}

@media (max-height:250px) {
    #main-left-align, #main-right-align {
        width: 15%;
        height: 15%
    }
}

@media (max-width: 10000px) {
    #special {
        width: auto;
        height: auto;
    }
}










