body {
    cursor: default;
    display: flex;
    background-image: url('Audio/pixil-gif-drawing\ \(2\).gif'); /* Add the path to your GIF */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center;
    margin: 0;
}

.audioman {
    display: none;
}

.websiteslink {
    display: none;
}

.main-left-align,
.main-right-align {
    position: absolute; /* Set both to absolute positioning */
    top: 50%; /* Adjust the top position as needed */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-left-align {
    cursor: pointer;
    left: 0; /* Align to the left */
    align-items: flex-start;
}

.main-right-align {
    cursor: pointer;
    right: 0; /* Align to the right */
    align-items: flex-end;
}

.darken {
    filter: brightness(80%);
}

#responsiveImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: width 0.5s ease, height 0.5s ease; /* Add a smooth transition effect */
}

@media (max-width: 800px) {
    #responsiveImage {
        width: 80%;
        max-width: 80%;
        height: auto;
        left: 80px;
        position: fixed;
    }
}

@media (max-width: 700px) {
    #responsiveImage {
        width: 70%;
        max-width: 70%;
        height: auto;
        left: 70px;
        position: fixed;
    }
}

@media (max-width: 600px) {
    #responsiveImage {
        width: 60%;
        height: auto;
        left: 60px;
        position: fixed;
    }
}

@media (max-width: 500px) {
    #responsiveImage {
        max-width: 70%;
        height: auto;
        left: 50px;
        position: fixed;
    }
}


@media (max-width: 400px), (max-height: 300px) {
    #responsiveImage {
        width: 30%;
        height: auto;
    }
}

.main-left-align, .main-right-align {
    float: left;
    width: 33.33%;
    height: 33.33%;
    box-sizing: border-box;
}

/* Apply responsive styles to images within .main-left-align */
.main-left-align img, .main-right-align img {
    width: 30%;
    height: 30%;
    max-width: 100%;
    max-height: 1500px;
    transition: width 0.5s ease, height 0.5s ease; /* Add a smooth transition effect for both width and height */
}

.secret {
    opacity: 90%;
    height: 50px;
    width: 50px;
    position: absolute;
    justify-content: flex-end;
    display: flex;
    top: 0;
    right: 0;
    cursor: pointer;
    filter: brightness(60%);
}


/* Add your other styles here */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

