body {
    cursor: default;
    display: flex;
    background-image: url('Audio/pixil-gif-drawing\ \(2\).gif');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center;
    margin: 0;
}

.audioman {
    display: none;
}

.header1 {
    cursor: pointer;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2px;
    /* Increased the gap between columns */
}

.darken {
    filter: brightness(80%);
}

.back {
    position: absolute;
    align-items: start start;
    margin-right: 20px;
    /* Increased the margin between the button and the column */
}

/* Media queries for smaller screens */
@media screen and (max-width: 900px) {
    .header1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        bottom: 30%;
    }

    .back {
        position: static;
        margin: 10px 0;
    }
}

/* Media query for screens narrower than 600px */
@media screen and (max-width: 600px) {
    .back {
        position: absolute;
        bottom: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 1200px) {
    .back {
        position: absolute;
        bottom: 10px;
        margin-right: 0px;
    }
}

@media screen and (max-height: 250px) {
    .back {
        position: absolute;
        bottom: 100px;
        margin-right: 300px;
    }
}