body {
    text-align: center;
    background-image: url('Audio/1zfb.gif'); 
    background-size: 79em;
    background-position-x: center; 
    background-position-y: -10em;
    background-repeat: no-repeat;
}

.container {
    position: relative;
}
.header {
    
    position: absolute;
    top: 2.5em;
    left: 20em;
    z-index: 2;
}

.audioman {
    display: none;
}

.header1 {
    position: absolute;
    top: 10em;
    left: 45em;
    width: 150px;
    height: 70px;
}

.header2 {
    position: absolute;
    top: 10em;
    left: 20em;
    width: 150px;
    height: 70px;
}

.thetest {
    opacity: 0;
    position: absolute;
    top: 13em;
    left: 56em;
    width: 150px;
    height: 70px;
    cursor: pointer;
}

.dvdscr {
    opacity: 0;
    position: absolute;
    top: 13em;
    left: 26em;
    width: 150px;
    height: 70px;
    cursor: pointer;
}