body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px; /* Increased width to accommodate the button */
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.color-picker {
    width: 100%;
    height: 50px;
    background-color: #333;
    cursor: pointer;
}

#colorSelector {
    width: 100%;
    padding: 5px;
}

#eraserButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}

#eraserButton.active {
    background-color: rgb(36, 36, 21);
    /* Add any other styles to indicate that the eraser is selected */
}

.options {
    margin-top: auto;
    padding: 10px;
    text-align: center;
}

.options label {
    color: #fff;
    margin-right: 5px;
}

.options input {
    width: 50px;
    right: 0;
}
