body {
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/1*adzOpocPYZe3dUDu8YtwWA.jpeg");
    background-size: 90em, 40em;
}

.text {
    color: azure;
    outline: black;
    text-align: center;
    text-shadow: 2px 2px 0 #000;
    top: 5em;
    right: -4em;
    position: relative;
}

.funny {
    color: azure;
    outline: black;
    text-align: center;
    text-shadow: 2px 2px 0 #000;
    top: -1.25em;
    right: 0em;
    position: relative;
}