body{
    background-color: black;
    color: aliceblue;
}

.merica{
    width: 200px;
}

.george{
    height: 200px;
    width: 800px;
}

.WW2gorge{
    width: 300px;
}

.buttonPress{
    color: red;
}