body{
    background-color: black;
    color: aliceblue;
}

.merica{
    width: 200px;
}

.george{
    height: 200px;
    width: 800px;
}

.WW2gorge{
    width: 300px;
}

.buttonPress{
    color: red;
}
.click{
    background-color: red;
    position: relative; top: 5px; left: 5px; margin-left: 450px; margin-right: 5px;
    width: 300px;
    height: 200px;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}