body {
    background-color: aquamarine;
}

.imagecontainer {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: 41.3vw;
    top: 45%;
}

.image {
    width: 17%;
    height: auto;
}

.textbox {
    font-family: system-ui;
 font-size: 27px;
 text-align: center;
 border: 2px solid black;
 background-color: brown;
 margin-left: 25%;
 margin-right: 25%;
}

.listbox {
    position: absolute;
    text-align: start;
    left: 35%;
    padding: 10px;
    border: 2px solid black;
    top: 45%;
}
